@charset "UTF-8";

.page-intro {
    margin-top: 0;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 5rem;
}

.page-intro p {
    font-size: 1rem;
}

@media (min-width: 600px) {
    .page-intro p {
        font-size: 1.414rem;
    }
}

.page-intro h2 {
    margin-bottom: 0;
}

@media (max-width: 450px) {
    .page-intro h2 {
        font-size: 1.88rem;
    }
}

.page-intro.bg-primary,
.page-intro.bg-primary h2 {
    color: white;
}

.cardapio h1, .cardapio h2, .cardapio a {
    color: #454646;
}

.cardapio h1 {
    font-size: 30pt;
}

.cardapio h2 {
    font-size: 25pt;
}

.figlist {
    color: black;
    display: grid;
    max-width: 960px;
    width: 100%;
    margin: 1rem auto;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    grid-auto-flow: row;
    grid-gap: 1rem;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    padding: 1rem;
}

@media (min-width: 640px) {
    .figlist {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 479px) {
    .figlist {
        grid-template-columns: repeat(1, 1fr);
    }
}

.figlist figure {
    position: relative;
    padding: 1rem;
    border-radius: 0.5rem;
    grid-column: span 1;
    background-color: white;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.figlist figure.featured {
    grid-column: 1/-1;
    padding-top: 0.5rem;
}

@media (min-width: 640px) {
    .figlist figure.featured {
        padding: 0 0;
    }
}

.figlist figure:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.002) 19%, rgba(0, 0, 0, 0.008) 34%, rgba(0, 0, 0, 0.021) 47%, rgba(0, 0, 0, 0.042) 56.5%, rgba(0, 0, 0, 0.075) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.194) 80.2%, rgba(0, 0, 0, 0.278) 86.1%, rgba(0, 0, 0, 0.382) 91%, rgba(0, 0, 0, 0.541) 95.2%, rgba(0, 0, 0, 0.738) 98.2%, black 100%);
    z-index: 1;
    height: 100%;
    opacity: 0;
}

.figlist figure img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index: 1;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    -o-object-position: center center;
    object-position: center center;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
}

.figlist figure figcaption, .figlist figure .menu-desc, .figlist figure .menu-price {
    width: 100%;
    color: rgba(0, 0, 0, 0.47);
    z-index: 2;
    font-size: 0.9375rem;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.figlist figure .menu-price {
    color: #3b3e93;
}

@media (max-width: 359px) {
    .figlist figure figcaption, .figlist figure .menu-price {
        font-size: 0.8125rem;
        line-height: 1.2em;
        font-weight: bold;
    }

    .figlist figure figcaption {
        font-size: 14pt;
    }

    .figlist figure .menu-desc {
        font-size: 12pt;
    }

    .figlist figure .menu-price {
        font-size: 14pt;
    }
}

@media (max-width: 767px) {
    .figlist figure figcaption, .figlist figure .menu-price {
        line-height: 1.2em;
        font-weight: bold;
    }

    .figlist figure figcaption {
        font-size: 16pt;
    }

    .figlist figure .menu-desc {
        font-size: 15pt;
    }

    .figlist figure .menu-price {
        font-size: 2.414rem;
    }
}

@media (min-width: 767px) {
    .figlist figure figcaption, .figlist figure .menu-price {
        font-weight: bold;
    }

    .figlist figure figcaption {
        font-size: 16pt;
    }

    .figlist figure .menu-desc {
        font-size: 15pt;
    }

    .figlist figure .menu-price {
        font-size: 2.414rem;
    }
}

.figlist picture {
    margin-top: 1rem;
    position: relative;
    position: relative;
}

.figlist picture:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 53.84615%;
}

.figlist picture > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*teste novo cardapio*/
.btn-filter{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin: 0 40px 0 0;
    border: 0;
    padding: 0;
    background: 0 0;
    transition: color .2s ease-out;
    margin-bottom: 2rem;
    text-align: center;
}

.btn-filter button{
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.cardapio-item {
    display: none;
}

.show {
    display: block;
}


/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn:active {
    background-color: black;
    color: white;
}