@import url("https://fonts.googleapis.com/css?family=Maitree:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

/* General styles */
body {
    font-size: 16px;
    line-height: 18px;
    font-family: 'Maitree', serif;
    color: #fff;
    background: #efe9dd;
}

h1, h2, h3, h4, h5, h6, .banner p.title {
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    margin: 0;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
    letter-spacing: 1px;
}

h3 {
    font-size: 24px;
}

img {
    width: 100%;
}

a, button {
    outline: 0 !important;
}

a:hover, a:focus {
    text-decoration: none
}

/* Background Transition */
.classic_btn, .info_btn, .social .ico {
    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
}

/* Header */
header {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(76deg, rgba(2, 0, 36, 1) 0%, rgba(241, 134, 7, 0.7469362745098039) 0%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(76deg, rgba(2, 0, 36, 1) 0%, rgba(241, 134, 7, 0.7469362745098039) 0%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(76deg, rgba(2, 0, 36, 1) 0%, rgba(241, 134, 7, 0.7469362745098039) 0%, rgba(0, 212, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#00d4ff", GradientType=1);
    width: 100%;
    min-height: 300px;
    max-height: 450px
}

.logo {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    position: relative;
}

nav.navbar.bootsnav {
    background-color: #444;
    border: 0 none;
}

/* Banner */

.banner > p.title {
    font-size: 32px;
    letter-spacing: 4px;
    text-align: center;
    line-height: 22pt;
    color: #f1f1f1;
    padding-top: 20px;
}

.banner_side {
    width: 75%;
    float: left;
    position: relative;
    top: 7rem;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20pt;
}

.banner h1 {
    text-align: center;
    color: #f1f1f1;
    padding-top: 20px;
}

.banner_content {
    float: left;
    position: relative;
    top: 7rem;
    font-size: 17pt;
    line-height: 2rem;
    text-align: center;
}

.banner_content p {
    margin-bottom: 15px;
}

/* MEGAMENU STYLE
=================================*/
nav.bootsnav .container {
    position: relative;
}

/* Transparent
=================================*/
nav.navbar.bootsnav.navbar-fixed {
    position: fixed;
    display: block;
    width: 100%;
}

nav.navbar.bootsnav.no-background {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.feature_text {
    margin: 20% 10%;
    font-weight: bold;
    text-align: center;
}

/* First Section */
/* Feature */
.shack_burger {
    float: left;
    margin-right: 20px;
    width: 255px;
}

.shack_burger > h2 {
    margin-bottom: 20px;
    text-align: center;
}

.classic_btn {
    background: #3678e5 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding: 9px 13px 9px 18px;
    text-transform: uppercase;
    position: relative;
}

.classic_btn:hover, .classic_btn:focus {
    background: #c58e13 none repeat scroll 0 0;
    color: #fff;
}

.classic_btn:after {
    content: "";
    position: absolute;
    border-top: 18px solid #3678e5;
    border-bottom: 18px solid #3678e5;
    border-right: 10px solid transparent;
    right: -10px;
    top: 0;

    transition: border .3s ease-in-out;
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    -moz-transition: border .3s ease-in-out;
}

.classic .classic_btn {
    top: 36px;
}

.classic_btn:hover:after {
    border-top: 18px solid #c58e13;
    border-bottom: 18px solid #c58e13;
}

/* Small Carousel */
#small_carousel {
    margin-top: 35px;
}

#small_carousel .carousel-inner > .item > a > img, #small_carousel .carousel-inner > .item > img {
    height: 360px;
}

#small_carousel .carousel-caption {
    left: 35px;
    padding: 0;
    right: 35px;
    top: 50px;
}

#small_carousel .carousel-indicators {
    margin-bottom: 2px;
}

#small_carousel .carousel-indicators > li {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    border: 0 none;
    height: 11px;
    margin: 0 2px;
    width: 11px;
}

#small_carousel .carousel-indicators > li.active {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
}

#small_carousel .carousel-caption > h3 {
    text-align: left;
    padding-top: 20px;
}

#small_carousel hr {
    border-color: rgba(255, 255, 255, 0.5);
    float: left;
    margin: 10px 0 15px;
    width: 240px;
}

/* Info Button */
.info_btn:before {
    border-bottom: 15px solid #3678e5;
    border-left: 8px solid transparent;
    border-top: 15px solid #3678e5;
    content: "";
    left: -8px;
    position: absolute;
    top: 0;

    transition: border .3s ease-in-out;
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    -moz-transition: border .3s ease-in-out;
}

.info_btn {
    background: #3678e5 none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    font-size: 22px;
    left: -3px;
    padding: 6px 20px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    z-index: 1;
    text-shadow: none;
}

.info_btn:after {
    border-bottom: 15px solid #3678e5;
    border-right: 8px solid transparent;
    border-top: 15px solid #3678e5;
    content: "";
    position: absolute;
    right: -8px;
    top: 0;

    transition: border .3s ease-in-out;
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    -moz-transition: border .3s ease-in-out;
}

.info_btn:hover, .info_btn:focus {
    background: #3678e5 none repeat scroll 0 0;
    color: #fff;
}

.info_btn:hover:before, .info_btn:focus:before {
    border-bottom: 15px solid #3678e5;
    border-top: 15px solid #3678e5;
}

.info_btn:hover:after, .info_btn:focus:after {
    border-bottom: 15px solid #3678e5;
    border-top: 15px solid #3678e5;
}

.info_btn_shadow:before {
    border-bottom: 15px solid rgba(0, 0, 0, 0.15);
    border-left: 8px solid transparent;
    border-top: 15px solid rgba(0, 0, 0, 0.15);
    content: "";
    left: -8px;
    position: absolute;
    top: 0;
}

.info_btn_shadow {
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    float: left;
    height: 30px;
    margin-left: 10px;
    margin-top: 55px;
    position: relative;
    width: 154px;
}

.info_btn_shadow:after {
    border-bottom: 15px solid rgba(0, 0, 0, 0.15);
    border-right: 8px solid transparent;
    border-top: 15px solid rgba(0, 0, 0, 0.15);
    content: "";
    position: absolute;
    right: -8px;
    top: 0;
}

/* Third Secition */
/* Carousel */
#carousel {
    margin-top: 30px;
}

#carousel .carousel-inner > .item > a > img, #carousel .carousel-inner > .item > img {
    height: 600px;
}

#carousel .carousel-caption {
    background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
    bottom: 62px;
    left: 64px;
    padding: 18px 15px 35px 35px;
    top: 60px;
    width: 450px;
}

#carousel .carousel-caption > h3 {
    font-size: 32pt;
    font-weight: bold;
    line-height: 70px;
    text-align: left;
    letter-spacing: 0.1px;
}

#carousel .carousel-caption > h3 {
    font-size: 24pt;
    text-align: left;
}

#carousel .carousel-caption > p {
    font-size: 16pt;
    font-weight: bold;
    line-height: 26px;
    margin-right: 40px;
    margin-top: 28px;
    text-align: left;
}

#carousel .carousel-caption > .info_btn_shadow {
    margin-top: 65px;
    margin-left: 8px;
}

#carousel .carousel-indicators {
    bottom: 2px;
}

#carousel .carousel-indicators > li {
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.45);
    border: 0;
    margin: 0 8px;
}

#carousel .carousel-indicators > li.active {
    background: #d14149;
}


/* Forth Secition */
.menu, .drinks, .sides {
    margin-top: 35px;
    margin-bottom: 35px;
    height: 190px;
    padding: 75px 0 40px;
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(76deg, rgba(2, 0, 36, 1) 0%, rgba(241, 134, 7, 0.7469362745098039) 0%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(76deg, rgba(2, 0, 36, 1) 0%, rgba(241, 134, 7, 0.7469362745098039) 0%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(76deg, rgba(2, 0, 36, 1) 0%, rgba(241, 134, 7, 0.7469362745098039) 0%, rgba(0, 212, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#00d4ff", GradientType=1);
}

.inner_content {
    display: block;
    margin: 0 auto;
    width: 220px;
}

.forth_sec .flaticon:before {
    font-size: 65px;
}

.forth_sec .flaticon {
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    float: left;
    color: white;
}

.forth_sec h2 {
    display: inline-block;
    font-size: 21pt;
    padding-top: 15px;
    color: white;

}

.inner_content .flaticon-burger, .inner_content .flaticon-food {
    margin-left: 15px;
}

/* Lock */
#lock {
    background: #454646 none repeat scroll 0 0;
    margin-top: 40px;
    min-height: 185px;
    padding: 66px 40px 40px;
    text-align: center;
    font-size: 18px;
}

#lock > h2 {
    font-family: "Maitree", serif;
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 2rem;
}

/* Footer */
footer {
    background: #454646 none repeat scroll 0 0;
    padding-bottom: 42px;
    margin-top: 2em;
}

footer h2 {
    font-family: 'Maitree', serif;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 16pt;
    font-weight: bold;
}

/* Basic Info */
.basic_info, .contact_us, .schedule {
    margin-top: 38px;
    overflow: hidden;
}

.footer_logo {
    margin-left: 20px;
    width: 160px;
}

.social {
    margin-top: 25px;
}

.social > li {
    padding: 0 8px;
}

.social .ico {
    background: #4d5154;
    border-radius: 100%;
    color: #bec5cd;
    display: block;
    font-size: 20px;
    height: 45px;
    padding-top: 13px;
    text-align: center;
    width: 45px;
}

.social .fa:hover, .social .fa:focus {
    background: #616976;
}

.footer-copyright {
    margin: 35px 0 45px;
    font-size: 13px;
    color: #fff;
}

.footer-copyright a {
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    padding: 0 5px;
}

/* Contact Us and Subscribe */
.contact_us > a, #lock a, .schedule p {
    color: #bec5cd;
    display: block;
    line-height: 24px;
    margin: 16px 0;
}

.contact_us a:hover, #lock a:hover, .contact_us a:focus, #lock a:focus {
    text-decoration: underline;
}

address, .schedule > p {
    color: #bec5cd;
    line-height: 24px;
}

.schedule > p {
    margin-bottom: 14px;
    width: 250px;
}

/* scrollup */

.scrollup {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: maroon;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}


@media (min-width: 1024px) and (max-width: 1400px) {
    body.wrap-nav-sidebar .wrapper .container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 1200px) {
    .feature, .signature {
        height: 360px;
    }

    #carousel .carousel-inner > .item > a > img, #carousel .carousel-inner > .item > img {
        height: auto;
        max-height: 600px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    /*header {
        background-size: 100% auto;
        color: #f1f1f1;
        overflow: hidden;
        background: url('../images/capa/capa.jpeg') no-repeat;
        height: auto;
        max-height: 660px;
    }*/
}

@media (max-width: 1200px) {
    /* header {
         height: auto;
         max-height: 467px;
         background: url('../images/capa/capa.jpeg') no-repeat;
     }*/
}

/* media query for other devices */

@media (max-width: 1199px) {
    .attr-nav {
        margin-right: 0;
    }

    .info_btn_shadow {
        margin-top: 45px;
        width: 144px;
    }

    .info_btn {
        padding: 6px 15px;
    }

    #lock > h2 {
        font-size: 34px;
        letter-spacing: 0;
    }

    #carousel .carousel-inner > .item > a > img, #carousel .carousel-inner > .item > img {
        height: auto;
        max-height: 500px;
    }
}


@media (min-width: 992px) {

    /*First section*/
    .feature {
        background: url('../images/primeira-sessao/x-baguncinha.jpg') no-repeat;
        background-size: 100% auto;
        min-height: 291px;
        overflow: hidden;
        margin-top: 50px;
    }

    .shack_burger {
        margin-left: 30px;
    }

    .signature {
        background: url('../images/primeira-sessao/x-tudo.jpg') no-repeat;
        background-size: 100% auto;
        min-height: 291px;
        padding: 0 18px 18px;
        margin-top: 50px;
    }

    #small_carousel .carousel-inner > .item > a > img, #small_carousel .carousel-inner > .item > img {
        height: auto;
        max-height: 540px;
    }
}

@media (min-width: 768px) {
    .banner_side {
        max-width: 62%
    }
}

@media (max-width: 992px) {
    /* Navbar Responsive
    =================================*/
    nav.navbar.bootsnav .navbar-brand {
        display: inline-block;
        float: none !important;
        margin: 0 !important;
    }

    nav.navbar.bootsnav .navbar-header {
        float: none;
        display: block;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    nav.navbar.bootsnav .navbar-nav {
        float: none !important;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 -15px;
    }

    nav.navbar.bootsnav .navbar-nav > li {
        float: none;
    }

    /* Navbar full Responsive
    =================================*/
    nav.bootsnav.navbar-full .navbar-brand {
        float: left !important;
        padding-left: 0;
    }

    nav.bootsnav.navbar-full .navbar-header {
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media (max-width: 991px) {
    /* header {
         height: auto;
         max-height: 467px;
         background: url('../images/capa/capa_991.jpeg') no-repeat;
     }*/
    /*First section*/
    .feature {
        background: url('../images/primeira-sessao/x-baguncinha.jpg') no-repeat;
        background-size: 100% auto;
        min-height: 291px;
        overflow: hidden;
        margin-top: 50px;
    }

    .signature {
        background: url('../images/primeira-sessao/x-tudo.jpg') no-repeat;
        background-size: 100% auto;
        padding: 0 18px 18px;
        min-height: 291px;
        overflow: hidden;
        margin-top: 50px;
    }


    h2 {
        font-size: 30px;
    }

    .inner_banner {
        margin-left: 150px;
        margin-top: 50px;
    }

    .shack_burger > h2 {
        margin-bottom: 15px;
    }

    .shack_burger > p {
        margin-left: 20px;
    }

    .shape {
        height: 106px;
        width: 106px;
    }

    .shape:after {
        border-bottom: 15px solid transparent;
        border-left: 53px solid #c72937;
        border-right: 53px solid #c72937;
        bottom: -15px;
    }

    .shape > p {
        font-size: 14px;
    }

    .signature_content {
        background: rgba(0, 0, 0, 0.5);
        font-size: 15px;
        margin: 45px 0 0;
        padding: 10px;
        width: 100%;
    }

    #carousel .carousel-inner > .item > a > img, #carousel .carousel-inner > .item > img {
        height: auto;
        max-height: 390px;
    }

    #small_carousel .carousel-inner > .item > a > img, #small_carousel .carousel-inner > .item > img {
        height: auto;
        max-height: 540px;
    }

    #carousel .carousel-caption {
        bottom: 50px;
        left: 40px;
        top: 40px;
        width: 350px;
    }

    #carousel .carousel-caption > h3 {
        font-size: 40px;
        line-height: 55px;
    }

    #carousel .carousel-caption > .info_btn_shadow {
        margin-top: 30px;
    }

    #carousel .carousel-caption > p {
        margin-right: 20px;
    }

    .inner_content {
        width: 200px;
    }

    .forth_sec .flaticon {
        margin-right: 8px;;
    }

    .forth_sec .flaticon:before {
        font-size: 60px;
    }

    #lock > h2 {
        font-size: 26px;
    }

    address, .schedule > p {
        font-size: 14px;
        width: 100%;
        line-height: 20px;
    }

    .social > li {
        padding: 0 4px;
    }

    .footer_logo {
        margin-left: 0;
    }

}

@media (max-width: 767px) {
    /*navbar*/
    nav.navbar.bootsnav .navbar-header {
        padding-left: 15px;
        padding-right: 15px;
    }

    nav.navbar.bootsnav .navbar-nav {
        padding-left: 15px;
        padding-right: 15px;
    }

    nav.bootsnav.navbar-full .navbar-header {
        padding-right: 0;
    }


    /*First section*/
    .feature {
        background: url('../images/primeira-sessao/x-baguncinha.jpg') no-repeat;
        background-size: 100% auto;
        overflow: hidden;
        margin-top: 50px;
    }

    .feature_text {
        display: block;
        margin: 20% 10%;
    }

    .signature {
        background: url('../images/primeira-sessao/x-tudo-479.jpg') no-repeat;
        background-size: 100% auto;
        height: 300px;
        padding: 0 18px 18px;
        margin-top: 25px;
    }

    h1 {
        font-size: 50px;
    }

    .banner > p.title {
        font-size: 26px;
    }

    .inner_banner {
        margin: 30px 0 0;
        text-align: center;
    }

    .signature_content {
        width: 180px;
    }

    #small_carousel .carousel-inner > .item > a > img, #small_carousel .carousel-inner > .item > img {
        height: auto;
        max-height: 540px;
    }

    #carousel .carousel-caption {
        left: 20px;
        top: 20px;
        width: 365px;
        padding: 10px 15px;
    }

    #carousel .carousel-caption > p {
        margin-right: 0;
    }

    #carousel .carousel-caption > p, #carousel .carousel-caption > .info_btn_shadow {
        margin-top: 20px;
    }

    #lock {
        padding: 50px 40px 40px;
        line-height: 24px;
    }

}

@media (min-width: 480px) and (max-width: 767px) {
    .banner_content {
        width: 50%
    }

    .logo {
        max-width: 50%
    }
}

@media (max-width: 479px) {
    .banner_content {
        width: 100%;
        top: 0
    }

    /*First section*/
    .feature {
        background: url('../images/primeira-sessao/x-baguncinha-479.jpg') no-repeat;
        background-size: 100% auto;
        overflow: hidden;
    }

    .signature {
        background: url('../images/primeira-sessao/x-tudo-479.jpg') no-repeat;
        background-size: 100% auto;
        padding: 0;
        margin-top: 25px;
    }

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 20px;
    }

    .banner > p.title {
        font-size: 20px;
    }

    header .caption {
        margin-left: 15px;
    }

    .shack_burger {
        background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
        float: none;
        font-size: 10pt;
        padding-top: 110px;
        width: 100%;
        height: 300px;
    }

    #small_carousel .carousel-inner > .item > a > img, #small_carousel .carousel-inner > .item > img {
        height: auto;
        max-height: 336px;
    }

    #small_carousel .carousel-caption {
        left: 20px;
        right: 20px;
        top: 20px;
    }

    #small_carousel hr {
        width: 200px;
    }

    .info_btn_shadow {
        margin-top: 20px;
    }

    #carousel .carousel-inner > .item > a > img, #carousel .carousel-inner > .item > img {
        height: auto;
        min-height: 152px;
    }

    #carousel .carousel-caption {
        width: 100%;
        min-height: 130px;
        right: 20px;
    }

    #carousel .carousel-caption > h3 {
        font-size: 30px;
        line-height: 40px;
    }

    #carousel .carousel-caption > h3 {
        font-size: 22px;
    }

    #carousel .carousel-caption > p {
        font-size: 16px;
        line-height: 20px;
        margin: 15px 0 0;
    }

    #lock > h2 {
        font-size: 20px;
        line-height: 30px;
    }

}